<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LinguaSphere</title>
  <link rel="stylesheet" href="/style/shared/footerStyle.css">
  <link rel="stylesheet" href="/style/shared/headerUserPageStyle.css">
  <link rel="stylesheet" href="/style/adminPageStyle.css">
  <link rel="stylesheet" href="/style/dropdownStyle.css">
</head>

<body>
<header>
  <div th:replace="~{/shared/layout3}"></div>
</header>

<main>
  <div>
    <button onclick="submitTeachersGettingForm()">Викладачі</button><br>
    <button onclick="submitDailiesGettingForm()">Щоденні цікавинки</button><br>
  </div>
</main>

<form id="getTeachersListForm" typeof="hidden" action="/admin/getTeachersList" method="get">
  <input type="hidden" th:value="${admin.login}" name="login">
  <input type="hidden" th:value="${admin.password}" name="password">
</form>
<form id="getDailyListForm" typeof="hidden" action="/admin/getDailiesList" method="get">
  <input type="hidden" th:value="${admin.login}" name="login">
  <input type="hidden" th:value="${admin.password}" name="password">
</form>

<footer>
  <table>
    <tr>
      <td>
        <p>Контактні дані:</p>
      </td>
      <td>
        <address>
          Електронна пошта: <a href="mailto:example@example.com">example@example.com</a>     Телефон: +38-(000)-000-00-00
        </address>
      </td>
      <td>
        <p>Copyright © 2023 LinguaSphere</p>
      </td>
    </tr>
  </table>
</footer>

<script src="/script/adminPageForms.js"></script>
<script src="/script/dropdown.js"></script>
</body>
</html>
