<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LinguaSphere</title>
  <link rel="stylesheet" href="/style/shared/footerStyle.css">
  <link rel="stylesheet" href="/style/shared/headerUserPageStyle.css">
  <link rel="stylesheet" href="/style/adminPageStyle.css">
  <link rel="stylesheet" href="/style/dropdownStyle.css">
</head>

<body>
<header>
  <div th:replace="~{/shared/layout3}"></div>
</header>

<main>
  <div>
    <button onclick="submitTeachersGettingForm()"> Викладачі </button><br>
    <button onclick="submitDailiesGettingForm()"> Щоденні цікавинки </button><br>
    <button onclick="submitEntitiesGettingForm()"> "Хто я?" </button><br>
  </div>
</main>

<form id="getTeachersListForm" typeof="hidden" action="/admin/getTeachersList" method="get">
  <input type="hidden" th:value="${admin.login}" name="login">
  <input type="hidden" th:value="${admin.password}" name="password">
</form>
<form id="getDailyListForm" typeof="hidden" action="/admin/getDailiesList" method="get">
  <input type="hidden" th:value="${admin.login}" name="login">
  <input type="hidden" th:value="${admin.password}" name="password">
</form>
<form id="getEntityListForm" typeof="hidden" action="/admin/getCreaturesList" method="get">
  <input type="hidden" th:value="${admin.login}" name="login">
  <input type="hidden" th:value="${admin.password}" name="password">
</form>

<div th:replace="~{/shared/footer}"></div>

<script src="/script/adminPageForms.js"></script>
<script src="/script/dropdown.js"></script>
</body>
</html>
