<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}"></title>
  <link rel="stylesheet" href="/style/superAdmin/listPageStyle.css">
  <link rel="stylesheet" href="/style/superAdmin/tableStyle.css">
  <link rel="stylesheet" href="/style/shared/headerUserPageStyle.css">
  <link rel="stylesheet" href="/style/dropdownStyle.css">
</head>

<body>
<header id="layoutHeader">
  <div th:replace="~{/shared/layout3}"></div>
</header>

<form id="updateForm" action="/admin/updateDaily" method="get">
  <input id="idUpdate" type="hidden" value="" name="id">
  <input type="hidden" th:value="${admin.login}" name="login">
  <input type="hidden" th:value="${admin.password}" name="password">
</form>
<form id="removeForm" action="/admin/deleteDaily" method="post">
  <input id="idRemove" type="hidden" value="" name="id">
  <input type="hidden" th:value="${admin.login}" name="login">
  <input type="hidden" th:value="${admin.password}" name="password">
</form>

<main>
  <h2>Щоденні цікавинки</h2>
  <table id="table" th:if="${not #lists.isEmpty(dailies)}">
    <tr>
      <th>Текст</th>
      <th>Посилання</th>
      <th>Зображення</th>
      <th>Мова</th>
      <th class="action-column"></th>
      <th class="action-column"></th>
    </tr>
    <tr th:each="daily : ${dailies}">
      <td th:text="${daily.text}"></td>
      <td style="display: none;" th:text="${daily.id}"></td>
      <td>
        <div th:each="link, iterationStat : ${daily.links}">
          <p th:text="${link}" th:id="'link-' + ${iterationStat.index}"></p>
        </div>
      </td>
      <td>
        <img th:src="'data:image/jpeg;base64,' + ${daily.file}" alt="Image" width="300" height="200">
      </td>
      <td th:text="${daily.language}"></td>

      <td class="action-column" onclick="removeDailyConfirm(this.parentNode.getElementsByTagName('td')[1].innerText)">Видалити</td>
      <td class="action-column" onclick="updateDailyConfirm(this.parentNode.getElementsByTagName('td')[1].innerText)">Змінити</td>
    </tr>
  </table>
  <h2 id="emptyList" th:unless="${not #lists.isEmpty(dailies)}">Список цікавинок порожній</h2>
  <form action="/admin/addDaily" method="get">
    <input type="hidden" th:value="${admin.login}" name="login">
    <input type="hidden" th:value="${admin.password}" name="password">
    <input class="button" type="submit" value="Додати цікавинку">
  </form>
</main>

<div th:replace="~{/shared/footer}"></div>

<script src="/script/admin/dailyList.js"></script>
<script src="/script/adminPageForms.js"></script>
<script src="/script/dropdown.js"></script>
</body>
</html>
