<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LinguaSphere</title>
  <link rel="stylesheet" href="/style/shared/footerStyle.css">
  <link rel="stylesheet" href="/style/shared/headerWithImageStyle.css">
  <link rel="stylesheet" href="/style/admin/adminCreatureFormStyle.css">
  <link rel="stylesheet" href="/style/dropdownStyle.css">
</head>

<body>
<header>
  <div th:replace="~{/shared/layout3}"></div>
</header>

<main>
  <div class="regTitle">
    <h1>Змінити цікавинку</h1>
  </div>

  <div class="regForm">
    <form id="regForm" action="/admin/updateDaily" method="post" enctype="multipart/form-data">
      <input style="display: none;" th:value="${daily.id}" name="id">
      <div class="regInput">
        <fieldset>
          <legend>Мова:</legend>
          <div th:each="language : ${languages}">
            <input type="radio" th:id="${'radio-' + language.name}" th:value="${language.id}" th:name="${'languageId'}" th:checked="${language.id == daily.languageId}">
            <label th:for="${'radio-' + language.name}" th:text="${language.name}"></label><br>
          </div>
        </fieldset><br>

        <h2 class="name">Текст</h2>
        <textarea class="field" id="text" th:text="${daily.text}" type="text" name="text"></textarea>
        <h2 class="name">Посилання</h2>
        <th:block th:if="${daily.links != null}">
          <textarea th:if="${#lists.size(daily.links) == 0}" class="field" text="" type="text" name="links"></textarea>
        </th:block>
        <textarea th:if="${daily.links == null}" class="field" text="" type="text" name="links"></textarea>
        <th:block th:each="link, iterationStat : ${daily.links}">
          <textarea class="field" th:text="${link}" type="text" name="links"></textarea>
        </th:block>
        <button type="button" class="button" onclick="addTextarea()">Додати посилання</button>
        <h2 class="name">Зображення</h2>
        <input class="field" id="file" type="file" name="file">

        <input type="hidden" th:value="${admin.login}" name="login">
        <input type="hidden" th:value="${admin.password}" name="password">

        <input class="button" type="submit" value="Зберегти зміни">
        <p class="errorText" id="errorText"></p>
        <p class="errorText" th:text="${errorText}"></p>
      </div>
    </form>
  </div>
</main>

<h2 id="imageToUploadByDefault" th:text="${daily.file}" style="display: none;"></h2>

<div th:replace="~{/shared/footer}"></div>

<script src="/script/dropdown.js"></script>
<script src="/script/admin/imageUpdateDefault.js"></script>
<script src="/script/admin/dailyForm.js"></script>
</body>
</html>
