<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
    <aside>
        <img src="/photo.png" width="200" height="200" alt="user photo header"><br>

        <b th:text="${teacher.name + '   ' + teacher.surname}"></b><br><br>

        <p>Електронна пошта:</p>
        <p><i th:text="${teacher.email}"></i></p><br>

        <p>Номер телефону:</p>
        <p><i th:text="${teacher.phone}"></i></p><br>

        <p>Додатковий контакт:</p>
        <p><i th:text="${teacher.contacts}"></i></p><br>
    </aside>
</html>