<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinguaSphere</title>
    <link rel="stylesheet" href="/style/shared/footerStyle.css">
    <link rel="stylesheet" href="/style/shared/headerWithImageStyle.css">
    <link rel="stylesheet" href="/style/superAdmin/superAdminFormStyle.css">
    <link rel="stylesheet" href="/style/dropdownStyle.css">
</head>

<body>
<header>
    <div th:replace="~{/shared/layout4}"></div>
</header>

<main>
    <div class="regTitle">
        <h1>Змінити адміністратора</h1>
    </div>
    <div class="regForm">
        <form id="regForm" method="post" action="/superAdmin/updateAdmin">
            <div class="regInput">
                <h2 class="name">Логін</h2>
                <input class="field" id="login" type="text" th:value="${admin.login}" name="login">
                <h2 class="name">Пароль</h2>
                <input class="field" id="password" type="text" th:value="${admin.password}" name="password">
                <input class="field" id="oldLogin" type="hidden" th:value="${admin.login}" name="oldLogin">
                <input class="field" id="oldPassword" type="hidden" th:value="${admin.password}" name="oldPassword">
                <input class="button" type="submit" value="Зберегти">
                <p class="errorText" id="errorText"></p>
                <p class="errorText" th:text="${errorText}"></p>
            </div>
        </form>
    </div>
</main>

<div th:replace="~{/shared/footer}"></div>

</body>
</html>
