#adminPageForm, #getTeachersListForm, #getDailyListForm {
    display: none;
}

#adminPageForm input, #getTeachersListForm input, #getDailyListForm input {
    display: none;
}

.regTitle {
    width: 750px;
    background-color: rgb(1, 3, 241, 0.7);
    margin: auto;
    margin-top: 20px;
    color: white;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.regForm {
    background-color: rgb(1, 3, 241, 0.6);
    width: 750px;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}

.name {
    margin-left: 25px;
    margin-top: 0px;
    width: 250px;
    color: white;
    font-size: 18px;
    font-weight: 70;
    text-align: left;
}

.name:first-of-type {
    margin-top: 30px;
}

.name:not(:first-of-type) {
    margin-bottom: 35px;
}

.name:last-of-type {
    margin-top: -35px;
    margin-bottom: 14px;
}

.regInput {
    width: 100%;
}

.field {
    position: relative;
    left: 100px;
    top: -45px;
    width: 419px;
    line-height: 40px;
    border-radius: 10px;
    padding: 0 22px;
    font-size: 16px;
}

.field:not(:first-of-type) {
    position: relative;
    top: -65px;
}

.button {
    background-color: #F69809;
    display: block;
    text-align: center;
    border-radius: 20px;
    width: 250px;
    padding: 14px 5px;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    margin-top: -20px;
}

.button:hover {
    background-color: #fda41c;
}

input:last-of-type {
    border:none;
}

form {
    padding: 10px;
}

p.errorText {
    color: red;
    font-size: 14px;
    font-weight: 100;
    margin-left: 25px;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

select {
    position: relative;
    left: 100px;
    top: -45px;
    width: 467px;
    line-height: 40px;
    border-radius: 10px;
    padding: 0 22px;
    font-size: 16px;
    height: 44px;
}

fieldset {
    display: block;
    left: 20%;
    margin: 0;
    position: relative;
    top: 10px;
    width: 60%;
}

input[type="radio"] {
    height: 30px;
    width: 30px;
}

fieldset label {
    position: relative;
    top: -10px;
    width: 300px;
}

[for] {
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-left: 25px;
    text-align: left;
    width: 180px;
    position: relative;
    top: -9px;
}
