html {
    color: white;
    text-align: center;
}

header {
    border: 0;
    border-radius: 20px;
    background-color: #F69809;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 32px;
    height: 70px;
    line-height: 70px;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

#logo:hover {
    background-color: #fda41c;
}

header img {
    float: right;
    margin-right: 30px;
    cursor: pointer;
    border-radius: 25px;
}