html {
    color: white;
    text-align: center;
}

header {
    border: 0;
    border-radius: 20px;
    background-color: #F69809;
    margin: 10px 2px 10px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    text-align: left;
    font-weight: bold;
    font-size: 32px;
    cursor: pointer;
    margin: 0;
    height: 70px;
    line-height: 70px;
    padding: 0;
    padding-left: 30px;
    text-decoration: none;
    color: white;
}

nav {
    float: right;
    padding-right: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin: 0;
    margin-left: 20px;
    border: 0;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: medium;
    cursor: pointer;
}

.regTitle {
    width: 750px;
    background-color: rgb(1, 3, 241, 0.7);
    margin: auto;
    margin-top: 20px;
    color: white;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.regForm {
    background-color: rgb(1, 3, 241, 0.6);
    width: 750px;
    height: 290px;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}

.name {
    margin-left: 25px;
    margin-top: 10px;
    width: 250px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.name:first-of-type {
    margin-top: 30px;
 }

.regInput {
    width: 100%;
    height: 290px;
}

.field {
    position: relative;
    left: 100px;
    top: -45px;
    width: 419px;
    line-height: 40px;
    border-radius: 10px;
    padding: 0 22px;
    font-size: 16px;
}

.button {
    background-color: #F69809;
    display: block;
    text-align: center;
    border-radius: 20px;
    width: 250px;
    padding: 14px 5px;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    margin-top: -10px;
}

.button:hover {
    background-color: #fda41c;
}

input:last-of-type {
    border:none;
}

form {
    padding: 10px;
}

p.errorText {
    color: red;
    font-size: 14px;
    font-weight: 100;
    margin-left: 25px;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

select {
    position: relative;
    left: 100px;
    top: -45px;
    width: 467px;
    line-height: 40px;
    border-radius: 10px;
    padding: 0 22px;
    font-size: 16px;
    height: 44px;
}

footer {
    background-color: #F69809;
    border: 0;
    border-radius: 20px;
    margin: 20px 2px 10px 2px;
}

table {
    border-collapse: collapse;
    margin: 0px 30px 0px 30px;
}

td {
    border: 0;
    width: 33.33%;
    text-align: left;
}

td:first-of-type {
    width: 6%;
}

td:last-of-type {
    width: 30%;
    text-align: right;
}

address a {
    margin-right: 10px;
}
