main {
    display: flex;
    margin-top: 20px;
}

aside {
    width: 360px;
    text-align: center;
    background-color: #329DFF;
    border: none;
    border-radius: 20px;
    margin-right: 20px;
}

aside img {
    margin-top: 50px;
    margin-bottom: 30px;
}

aside b {
    font-size: 32px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 30px;
}

aside p {
    font-size: 28;
    font-weight: semi bold;
}

div {
    background-color: #0038FF;
    border: none;
    border-radius: 20px;
    text-align: center;
    flex: 1 1 auto;
}

button {
    background-color: #F69809;
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    border: 0;
    border-radius: 20px;
    width: 500px;
    height: 100px;
    cursor: pointer;
}

button:hover {
    background-color: #fda41c;
}

button:first-of-type {
    margin-top: 50px;
}

button:last-of-type {
    margin-bottom: 50px;
}

.imageAside {
    border-radius: 100px;
}
