<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinguaSphere</title>
    <link rel="stylesheet" href="/style/shared/footerStyle.css">
    <link rel="stylesheet" href="/style/shared/headerUserPageStyle.css">
    <link rel="stylesheet" href="/style/teacher/controlButtonsStyle.css">
    <link rel="stylesheet" href="/style/superAdmin/listPageStyle.css">
    <link rel="stylesheet" href="/style/superAdmin/tableStyle.css">
    <link rel="stylesheet" href="/style/dropdownStyle.css">
</head>

<body>
<header id="layoutHeader">
    <div th:replace="~{/shared/layout2}"></div>
</header>

<main>
    <h2 th:text="'Навчальні матеріали з ' + ${languageSubName} + ' мови'"></h2>
    <table th:if="${not #lists.isEmpty(materials)}">
        <tr>
            <th class="date-column">Текст</th>
            <th class="complaint-column">Посилання</th>
            <th class="complaint-column">Зображення</th>
            <th class="complaint-column">Файл</th>
        </tr>
        <tr th:each="material : ${materials}">
            <td th:text="${material.text}"></td>
            <td style="display: none;" th:text="${material.id}"></td>
            <td>
                <div th:each="link, iterationStat : ${material.links}">
                    <p th:text="${link}" th:id="'link-' + ${iterationStat.index}"></p>
                </div>
            </td>
            <td>
                <img th:src="'data:image/jpeg;base64,' + ${material.fileImg}" alt="Image" width="300" height="200">
            </td>
            <td>
                <div th:switch="${material.fileType}">
                    <a th:case="'application/pdf'" th:href="'data:application/pdf;base64,' + ${material.file}" download="document.pdf">Download PDF</a>
                    <a th:case="'application/vnd.openxmlformats-officedocument.wordprocessingml.document'" th:href="'data:application/vnd.openxmlformats-officedocument.wordprocessingml.document;base64,' + ${base64String}" download="document.docx">Download DOCX</a>
                    <a th:case="'video/mp4'" th:href="'data:video/mp4;base64,' + ${material.file}" download="video.mp4">Download Video</a>
                    <a th:case="*" th:href="'data:application/octet-stream;base64,' + ${material.file}" download="file">Download File</a>
                </div>
            </td>
        </tr>
    </table>
    <h2 id="emptyList" th:unless="${not #lists.isEmpty(materials)}">Список навчальних матеріалів порожній</h2>

    <form method="get" id="formCellSubmit" action="/user/getLessonPage">
        <input type="hidden" th:value="${token}" name="token">
        <input id="cellSubmitDay" type="hidden" th:value="${day}" name="day">
        <input id="cellSubmitTime" type="hidden" th:value="${time}" name="time">
        <input class="controlButton" type="submit" value="Назад">
    </form>
</main>

<div th:replace="~{/shared/footer}"></div>

<script src="/script/userPageForms.js"></script>
<script src="/script/dropdown.js"></script>
</body>
</html>
