<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinguaSphere</title>
    <link rel="stylesheet" href="/style/shared/headerUserPageStyle.css">
    <link rel="stylesheet" href="/style/teacher/teacherScheduleStyle.css">
    <link rel="stylesheet" href="/style/user/teacherScheduleStyle.css">
    <link rel="stylesheet" href="/style/dropdownStyle.css">
</head>

<body>
<header>
    <div th:replace="~{/shared/layout2}"></div>
</header>

<main style="display: flex;">
    <div th:replace="~{/user/partsOfPages/aside}"></div>

    <div>
        <table>
            <tr><th></th><th>Пн</th><th>Вт</th><th>Ср</th><th>Чт</th><th>Пт</th><th>Сб</th><th>Нд</th></tr>

            <tr th:each="hour, hourStat : ${#numbers.sequence(8, 23)}">
                <th th:text="${hour} + ':00-' + (${hour + 1}) + ':00'"></th>

                <td th:each="row, rowStat : ${lessons}"
                    th:id="${'lesson_' + __${hour - 8}__ + '_' + rowStat.index}"
                    th:class="${row[__${hour - 8}__] == 0 ? 'used' : (row[__${hour - 8}__] == 1 ? 'free' : 'lesson')}"
                    th:attr="onclick=${row[__${hour - 8}__] == 1 ?
                    'setLessonConfirm(__${hour - 8}__, ' + rowStat.index + ')' :
                    (row[__${hour - 8}__] == 0 ? '' :
                    'removeLessonConfirm(__${hour - 8}__, ' + rowStat.index + ')')}"></td>
            </tr>
        </table>

        <div style="font-size: 24px; background-color: #329DFF; margin: 30px; padding: 30px; width: auto;">
            <table style="margin: 0;">
                <tr><td style="width: 20%; height: 30px; background-color: #C6FFAB;"></td><td style="width: 80%; text-align: left; padding-left: 30px;">Урок доступний (натисніть, щоб записатися)</td></tr>
                <tr><td style="width: 20%; height: 30px; background-color: #FFFFB3;"></td><td style="width: 80%; text-align: left; padding-left: 30px;">Учня призначено (натисніть, щоб скасувати запис)</td></tr>
                <tr><td style="width: 20%; height: 30px; background-color: #FF9999;"></td><td style="width: 80%; text-align: left; padding-left: 30px;">Урок недоступний</td></tr>
            </table>
        </div>

        <div>
            <button th:attr="onclick='submitLanguage(\'' + ${languageId} + '\')'">Назад</button>
        </div>
    </div>
</main>

<form typeof="hidden" method="get" id="chooseLanguageForm" action="/user/submitChooseLanguageForm">
    <input type="hidden" th:value="${token}" name="token">
    <input type="hidden" id="languageIdInput" value="" name="languageId">
</form>

<form typeof="hidden" id="defaultDataForm">
    <input type="hidden" th:value="${token}" name="token">
    <input type="hidden" th:value="${languageId}" name="languageId">
    <input type="hidden" th:value="${teacherEmail}" name="teacherEmail">
</form>

<div th:replace="~{/shared/footer}"></div>

<script src="/script/userPageForms.js"></script>
<script src="/script/user/languageChoosingForm.js"></script>
<script src="/script/user/lessonsRequests/defaultFormData.js"></script>
<script src="/script/user/lessonsRequests/setLesson.js"></script>
<script src="/script/user/lessonsRequests/removeLesson.js"></script>
<script src="/script/dropdown.js"></script>
<script src="/script/userSchedule.js"></script>
</body>
</html>
