<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LinguaSphere</title>
  <link rel="stylesheet" href="/style/shared/footerStyle.css">
  <link rel="stylesheet" href="/style/shared/headerUserPageStyle.css">
  <link rel="stylesheet" href="/style/userPageStyle.css">
  <link rel="stylesheet" href="/style/dropdownStyle.css">
</head>

<body>
<header>
  <div th:replace="~{/shared/layout2}"></div>
</header>

<main>
  <div th:replace="~{/user/partsOfPages/aside}"></div>

  <div>
    <button onclick="submitSchedule()">Розклад занять</button><br>
    <button onclick="submitLanguageChoosingFormInUserPage()">Додати урок</button><br>
    <button onclick="submitGetMaterialsLanguageForm()">Навчальні матеріали</button><br>
    <button onclick="submitLinksPageInUserPage()">Вибір посилань на уроки</button><br>
    <button onclick="submitGradesListPage()">Оцінити викладача</button><br>
    <button href="#">Мої досягнення</button><br>
    <button onclick="submitDailyForm()">Щоденні цікавинки</button><br>
    <button onclick="submitCreatureListGettingForm()">"Хто я?"</button><br>
    <button href="#">Підтримка</button>
  </div>
</main>

<form typeof="hidden" method="get" id="scheduleForm" action="/user/userSchedule">
  <input type="hidden" th:value="${token}" name="token">
</form>
<form typeof="hidden" method="get" id="choosingLanguageFormInUserPage" action="/user/getLanguageChoosingPageInUserPage">
  <input type="hidden" th:value="${token}" name="token">
</form>
<form typeof="hidden" method="get" id="dailyForm" action="/user/dailyFact">
  <input type="hidden" th:value="${token}" name="token">
</form>
<form typeof="hidden" method="get" id="creatureListGettingForm" action="/user/getCreatureLanguageList">
  <input type="hidden" th:value="${token}" name="token">
</form>
<form typeof="hidden" method="get" id="getMaterialsLanguageForm" action="/user/getMaterialsLanguageList">
  <input type="hidden" th:value="${token}" name="token">
</form>
<form typeof="hidden" method="get" id="getLinksPageForm" action="/user/getLinksPage">
  <input type="hidden" th:value="${token}" name="token">
</form>
<form typeof="hidden" method="get" id="getGradesListForm" action="/user/getGradesList">
  <input type="hidden" th:value="${token}" name="token">
</form>

<div th:replace="~{/shared/footer}"></div>

<script src="/script/userPageForms.js"></script>
<script src="/script/dropdown.js"></script>
</body>
</html>
