<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LinguaSphere</title>
  <link rel="stylesheet" href="/style/userScheduleStyle.css">
  <link rel="stylesheet" href="/style/dropdownStyle.css">
</head>

<body>
<header>
  <div th:replace="~{/shared/layout2}"></div>
</header>

<main style="display: flex;">
  <div th:replace="~{/user/partsOfPages/aside}"></div>

  <div>
    <table>
      <tr><th></th><th>Пн</th><th>Вт</th><th>Ср</th><th>Чт</th><th>Пт</th><th>Сб</th><th>Нд</th></tr>

      <tr th:each="hour, hourStat : ${#numbers.sequence(8, 23)}">
        <th th:text="${hour} + ':00-' + (${hour + 1}) + ':00'"></th>
        <td th:each="row, rowStat : ${lessons}"
            th:class="${row[__${hour - 8}__] == 0 ? 'free' : 'used'}"
            th:attr="onclick=${row[__${hour - 8}__] == 1 ? 'submitCell(__${hour - 8}__, ' + rowStat.index + ')' : ''}"></td>
      </tr>
    </table>


    <div>
      <button onclick="submitPageForm()">Назад</button>
      <button onclick="submitLanguageChoosingForm()">Додати урок</button>
    </div>
  </div>
</main>

<form typeof="hidden" method="get" id="userPageForm" action="/user/userPage">
  <input type="hidden" th:value="${token}" name="token">
</form>
<form typeof="hidden" method="get" id="choosingLanguageForm" action="/user/getLanguageChoosingPage">
  <input type="hidden" th:value="${token}" name="token">
</form>
<form typeof="hidden" method="get" id="formCellSubmit" action="#">
  <input type="hidden" th:value="${token}" name="token">
  <input id="cellSubmitDay" type="hidden" value="" name="day">
  <input id="cellSubmitTime" type="hidden" value="" name="time">
</form>

<div th:replace="~{/shared/footer}"></div>

<script src="/script/userPageForms.js"></script>
<script src="/script/dropdown.js"></script>
<script src="/script/userSchedule.js"></script>
</body>
</html>
