<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/style/superAdmin/listPageStyle.css">
    <link rel="stylesheet" href="/style/superAdmin/tableStyle.css">
    <link rel="stylesheet" href="/style/dropdownStyle.css">
</head>

<body>
<header id="layoutHeader">
    <div th:replace="~{/shared/layout5}"></div>
</header>

<form id="updateForm" action="/teacher/updateMaterial" method="get">
    <input type="hidden" th:value="${teacher.email}" name="email">
    <input type="hidden" th:value="${teacher.password}" name="password">
    <input id="idUpdate" type="hidden" value="" name="materialId">
</form>
<form id="removeForm" action="/teacher/deleteMaterial" method="post">
    <input id="loginRemove" type="hidden" th:value="${teacher.email}" name="email">
    <input id="passwordRemove" type="hidden" th:value="${teacher.password}" name="password">
    <input id="idRemove" type="hidden" value="" name="materialId">
</form>

<main>
    <h2>Навчальні матеріали</h2>
    <form action="/teacher/addMaterial" method="get">
        <input type="hidden" th:value="${teacher.email}" name="email">
        <input type="hidden" th:value="${teacher.password}" name="password">
        <input class="button" type="submit" value="Додати">
    </form>
    <table th:if="${not #lists.isEmpty(materials)}">
        <tr>
            <th class="date-column">Текст</th>
            <th class="complaint-column">Посилання</th>
            <th class="complaint-column">Зображення</th>
            <th class="complaint-column">Файл</th>
            <th class="complaint-column">Мова</th>
            <th class="action-column"></th>
            <th class="action-column"></th>
        </tr>
        <tr th:each="material : ${materials}">
            <td th:text="${material.text}"></td>
            <td style="display: none;" th:text="${material.id}"></td>
            <td>
                <div th:each="link, iterationStat : ${material.links}">
                    <p th:text="${link}" th:id="'link-' + ${iterationStat.index}"></p>
                </div>
            </td>
            <td>
                <img th:src="'data:image/jpeg;base64,' + ${material.fileImg}" alt="Image" width="300" height="200">
            </td>
            <td>
                <div th:switch="${material.fileType}">
                    <a th:case="'application/pdf'" th:href="'data:application/pdf;base64,' + ${material.file}" download="document.pdf">Download PDF</a>
                    <a th:case="'application/vnd.openxmlformats-officedocument.wordprocessingml.document'" th:href="'data:application/vnd.openxmlformats-officedocument.wordprocessingml.document;base64,' + ${base64String}" download="document.docx">Download DOCX</a>
                    <a th:case="'video/mp4'" th:href="'data:video/mp4;base64,' + ${material.file}" download="video.mp4">Download Video</a>
                    <a th:case="*" th:href="'data:application/octet-stream;base64,' + ${material.file}" download="file">Download File</a>
                </div>
            </td>
            <td th:text="${material.language}"></td>

            <td class="action-column" onclick="removeMaterialConfirm(this.parentNode.getElementsByTagName('td')[1].innerText)">Видалити</td>
            <td class="action-column" onclick="updateMaterialConfirm(this.parentNode.getElementsByTagName('td')[1].innerText)">Змінити</td>
        </tr>
    </table>
    <h2 id="emptyList" th:unless="${not #lists.isEmpty(materials)}">Список навчальних матеріалів порожній</h2>
</main>

<div th:replace="~{/shared/footer}"></div>

<script src="/script/teacher/materialsListPage.js"></script>
<script src="/script/dropdown.js"></script>
</body>
</html>
