<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LinguaSphere</title>
  <link rel="stylesheet" href="/style/teacher/teacherScheduleStyle.css">
  <link rel="stylesheet" href="/style/dropdownStyle.css">
</head>

<body>
<header>
  <div th:replace="~{/shared/layout5}"></div>
</header>

<main style="display: flex;">
  <div th:replace="~{/teacher/partsOfPages/aside}"></div>

  <div>
    <table>
      <tr><th></th><th>Пн</th><th>Вт</th><th>Ср</th><th>Чт</th><th>Пт</th><th>Сб</th><th>Нд</th></tr>

      <tr th:each="hour, hourStat : ${#numbers.sequence(8, 23)}">
        <th th:text="${hour} + ':00-' + (${hour + 1}) + ':00'"></th>

        <td th:each="row, rowStat : ${lessons}"
            th:class="${row[__${hour - 8}__] == 0 ? 'free' : (row[__${hour - 8}__] == 1 ? 'used' : 'lesson')}"
            th:attr="onclick=${row[__${hour - 8}__] == 1 ? 'submitCellUsed(__${hour - 8}__, ' + rowStat.index + ')' :
                    (row[__${hour - 8}__] == 0 ? 'submitCellFree(__${hour - 8}__, ' + rowStat.index + ')' : '')}"></td>
      </tr>
    </table>


    <div>
      <button th:attr="onclick='submitPageForm()'">Назад</button>
    </div>
  </div>
</main>

<form typeof="hidden" method="get" id="teacherPageForm" action="/teacher/teacherPage">
  <input type="hidden" th:value="${teacher.email}" name="email">
  <input type="hidden" th:value="${teacher.password}" name="password">
</form>

<form id="formCellSubmitUsed" typeof="hidden" method="post" action="/teacher/submitCellUsed">
  <input type="hidden" th:value="${teacher.email}" name="email">
  <input type="hidden" th:value="${teacher.password}" name="password">
  <input id="cellSubmitDayUsed" type="hidden" value="" name="day">
  <input id="cellSubmitTimeUsed" type="hidden" value="" name="time">
</form>

<form id="formCellSubmitFree" typeof="hidden" method="post" action="/teacher/submitCellFree">
  <input type="hidden" th:value="${teacher.email}" name="email">
  <input type="hidden" th:value="${teacher.password}" name="password">
  <input id="cellSubmitDayFree" type="hidden" value="" name="day">
  <input id="cellSubmitTimeFree" type="hidden" value="" name="time">
</form>

<div th:replace="~{/shared/footer}"></div>

<script src="/script/teacher/teacherPageForms.js"></script>
<script src="/script/dropdown.js"></script>
<script src="/script/teacher/teacherSchedule.js"></script>
</body>
</html>
