<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LinguaSphere</title>
  <link rel="stylesheet" href="/style/shared/footerStyle.css">
  <link rel="stylesheet" href="/style/shared/headerUserPageStyle.css">
  <link rel="stylesheet" href="/style/userPageStyle.css">
  <link rel="stylesheet" href="/style/dropdownStyle.css">
</head>

<body>
<header>
  <div th:replace="~{/shared/layout5}"></div>
</header>

<main>
  <aside>
    <img src="/photo.png" width="200" height="200" alt="user photo header"><br>

    <b th:text="${teacher.name + '   ' + teacher.surname}"></b><br><br>

    <p>Електронна пошта:</p>
    <p><i th:text="${teacher.email}"></i></p><br>

    <p>Номер телефону:</p>
    <p><i th:text="${teacher.phone}"></i></p><br>

    <p>Додатковий контакт:</p>
    <p><i th:text="${teacher.contacts}"></i></p><br>
  </aside>

  <div>
    <button th:attr="onclick='submitSchedule()'">Розклад занять</button><br>
    <button href="#">Навчальні матеріали</button><br>
    <button href="#">Щоденні цікавинки</button><br>
    <button href="#">Підтримка</button>
  </div>
</main>

<form typeof="hidden" method="get" id="teacherPageForm" action="/teacher/teacherPage">
  <input type="hidden" th:value="${teacher.email}" name="email">
  <input type="hidden" th:value="${teacher.password}" name="password">
</form>
<form typeof="hidden" method="get" id="scheduleForm" action="/teacher/teacherSchedule">
  <input type="hidden" th:value="${teacher.email}" name="email">
  <input type="hidden" th:value="${teacher.password}" name="password">
</form>

<footer>
  <table>
    <tr>
      <td>
        <p>Контактні дані:</p>
      </td>
      <td>
        <address>
          Електронна пошта: <a href="mailto:example@example.com">example@example.com</a>     Телефон: +38-(000)-000-00-00
        </address>
      </td>
      <td>
        <p>Copyright © 2023 LinguaSphere</p>
      </td>
    </tr>
  </table>
</footer>

<script src="/script/teacher/teacherPageForms.js"></script>
<script src="/script/dropdown.js"></script>
</body>
</html>
