<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LinguaSphere</title>
  <link rel="stylesheet" href="/style/shared/footerStyle.css">
  <link rel="stylesheet" href="/style/shared/headerUserPageStyle.css">
  <link rel="stylesheet" href="/style/userPageStyle.css">
  <link rel="stylesheet" href="/style/dropdownStyle.css">
</head>

<body>
<header>
  <div th:replace="~{/shared/layout5}"></div>
</header>

<main>
  <div th:replace="~{/teacher/partsOfPages/aside}"></div>

  <div>
    <button th:attr="onclick='submitSchedule()'">Розклад занять</button><br>
    <button href="#">Навчальні матеріали</button><br>
    <button href="#">Щоденні цікавинки</button><br>
    <button href="#">Підтримка</button>
  </div>
</main>

<form typeof="hidden" method="get" id="teacherPageForm" action="/teacher/teacherPage">
  <input type="hidden" th:value="${teacher.email}" name="email">
  <input type="hidden" th:value="${teacher.password}" name="password">
</form>
<form typeof="hidden" method="get" id="scheduleForm" action="/teacher/teacherSchedule">
  <input type="hidden" th:value="${teacher.email}" name="email">
  <input type="hidden" th:value="${teacher.password}" name="password">
</form>

<div th:replace="~{/shared/footer}"></div>

<script src="/script/teacher/teacherPageForms.js"></script>
<script src="/script/dropdown.js"></script>
</body>
</html>
