<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
    <aside>
        <img class="imageAside" th:if="${user.file == null}" src="/photo.png"
             width="200" height="200" alt="user photo header">
        <img class="imageAside" th:unless="${user.file == null}"
             th:src="'data:image/jpeg;base64,' + ${user.file}" alt="Image" width="200" height="200"><br>

        <b th:text="${user.name + '   ' + user.surname}"></b><br><br>

        <p>Електронна пошта:</p>
        <p><i th:text="${user.email}"></i></p><br>

        <p>Номер телефону:</p>
        <p><i th:text="${user.phone}"></i></p><br>

        <p>Додатковий контакт:</p>
        <p><i>Додаткова контактна інформація</i></p><br>

        <p>День народження:</p>
        <p><i th:text="${user.dateOfBirth}"></i></p><br>
    </aside>
</html>