<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LinguaSphere</title>
  <link rel="stylesheet" href="/style/other/aboutUsStyle.css">
</head>

<body>
<header>
  <div th:replace="~{/shared/layout1}"></div>
</header>

<main>
  <article>
    <p>Лінгвістичний світ - це неймовірний і захоплюючий шлях до освоєння іноземних мов та культур.
      У нашому центрі, LinguaSphere, ми відкриваємо перед вами цей світ і надаємо найкращі можливості для розвитку вашого мовного потенціалу.
      Незалежно від вашого рівня володіння мовою, ми гарантуємо індивідуальний підхід та результати, які вас вразять.</p>

    <p>У нашому центрі працюють досвідчені та кваліфіковані викладачі, які допоможуть вам зануритися в мовний світ
      і навчитися впевнено спілкуватися на іноземних мовах. Ми пропонуємо різнорівневі курси,
      починаючи від базового рівня та закінчуючи вищими рівнями володіння мовою, що дозволяє вам обрати оптимальний шлях для досягнення ваших цілей.</p>

    <p><i>В LinguaSphere ми віримо в важливість практики та спілкування на іноземних мовах.
      Тому наші заняття включають в себе різні форми практики: усне спілкування, письмові завдання, читання та вивчення граматики.
      Ми створюємо можливість для вас поглибити знання та навички, які ви зможете використовувати в реальних ситуаціях.</i></p>

    <p>Обираючи LinguaSphere, ви вибираєте якість, індивідуальний підхід та можливість підняти свій рівень володіння іноземними мовами на новий рівень.
      <span style="color: red;">Реалізуйте свій потенціал та відкрийте для себе нові можливості у лінгвістичному світі разом з нами!</span></p>

    <p>Повний список мов та рівні володіння, які надає наша платформа, можна переглянути <a href="#levels">тут</a></p>

    <p><b>Наші переваги:</b></p>
    <ol type="a">
      <li>Методика навчання: У LinguaSphere ми використовуємо сучасні методики, що допомагають максимально ефективно засвоювати іноземні мови. Наші заняття базуються на комунікативному підході, який сприяє швидкому розвитку мовних навичок.</li>
      <li>Гнучкий графік: Ми розуміємо, що у вас можуть бути зайнятості, тому ми пропонуємо гнучкий графік занять, який відповідає вашим потребам та розкладу.</li>
      <li>Культурна іммерсія: У LinguaSphere ми підкреслюємо важливість вивчення культури країни, мова якої вас цікавить. Ми організовуємо тематичні заходи, мовні вечори та інші активності для занурення у культурний контекст.</li>
      <li>Онлайн-ресурси: У нашому центрі ви маєте доступ до онлайн-ресурсів, які допоможуть вам практикувати мову та розширювати свої знання навіть поза класом.</li>
    </ol>

    <p>Просимо оцінити даний текст. Зробити це можна тут <a href="#form">тут</a></p>
  </article>

  <img src="https://tvoemisto.tv/media/gallery/full/m/o/movy_1200c.jpg" width="336px" height="181px" alt="Зображення для тексту">

  <aside>
    <h3>Рекомендуємо наступні ресурси для перевірки знання мов:</h3>
    <p>Англійська:</p>
    <a href="https://test-english.com/level-test/">Тест від <i>test-english</i></a>
    <p>Французька</p>
    <a href="https://www.esl-languages.com/en/online-language-tests/french-test">Тест від <i>ESL</i></a>
  </aside>

  <img src="https://enguide.ua/s/public/upload/images/18c5/35ab/df86/7c7a/ea79/8b99/62ec/610x300.jpeg" width="610px" height="300px" alt="Рівні знання мов">

  <table id="levels">
    <caption>Мови, які ми пропонуємо для вивчення</caption>
    <thead>
    <tr>
      <th></th>
      <th>A1</th>
      <th>A2</th>
      <th>B1</th>
      <th>B2</th>
      <th>C1</th>
      <th>C2</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Англійська</th>
      <td class="yes" colspan="6">Так</td>
    </tr>
    <tr>
      <th>Французька</th>
      <td class="yes" colspan="6">Так</td>
    </tr>
    <tr>
      <th>Іспанська</th>
      <td class="yes" colspan="6">Так</td>
    </tr>
    <tr>
      <th>Португальска</th>
      <td class="yes" colspan="6">Так</td>
    </tr>
    <tr>
      <th>Польська</th>
      <td class="yes" colspan="5">Так</td>
      <td class="no">Ні</td>
    </tr>
    <tr>
      <th>Чеська</th>
      <td class="yes" colspan="3">Так</td>
      <td class="no" colspan="3">Ні</td>
    </tr>
    <tr>
      <th>Турецька</th>
      <td class="yes" colspan="4">Так</td>
      <td class="no" colspan="2">Ні</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="7">Сподіваємося, наші пропозиції задовольняють вашим потребам</td>
    </tr>
    </tfoot>
  </table>

  <div class="formTitle">
    <h1>Зв'яжіться з нами</h1>
  </div>
  <form id="form">
    <label for="email">Електронна пошта:</label>
    <input type="email" id="email" name="email" required>

    <label for="age">Вік:</label>
    <input type="number" id="age" name="age" min="0" max="180" required>

    <div id="textarea">
      <label for="message">Повідомлення:</label>
      <textarea id="message" name="message" rows="4" required></textarea>
    </div>

    <fieldset>
      <legend>Освіта:</legend>
      <input type="checkbox" id="engCheckbox" value="Eng">
      <label for="engCheckbox">Англійська мова</label><br>

      <input type="checkbox" id="fraCheckbox" value="Fra">
      <label for="fraCheckbox">Французька мова</label><br>

      <input type="checkbox" id="espCheckbox" value="Esp">
      <label for="espCheckbox">Іспанська мова</label><br>

      <input type="checkbox" id="porCheckbox" value="Por">
      <label for="porCheckbox">Португальська мова</label><br>

      <input type="checkbox" id="polCheckbox" value="Pol">
      <label for="polCheckbox">Польська мова</label><br>

      <input type="checkbox" id="cheCheckbox" value="Che">
      <label for="cheCheckbox">Чеська мова</label><br>

      <input type="checkbox" id="turCheckbox" value="Tur">
      <label for="turCheckbox">Турецька мова</label><br>

      <input type="checkbox" id="elseCheckbox" value="Else">
      <label for="elseCheckbox">Інше</label>
    </fieldset><br>

    <fieldset>
      <legend>Оцінка якості прочитаного матеріалу:</legend>
      <label class="radio"><input type="radio" name="radio" value="сподобався">Сподобався</label><br>
      <label class="radio"><input type="radio" name="radio" value="потребує доопрацювання">Потребує доопрацювання</label><br>
      <label class="radio"><input type="radio" name="radio" value="неповний">Неповний</label><br>
    </fieldset><br>

    <label for="agree">Згода на обробку інформації:</label>
    <input type="checkbox" id="agree" name="agree" required><br>

    <button class="button" type="submit">Відправити</button>
  </form>
</main>

<footer>
  <table>
    <tr>
      <td>
        <p>Контактні дані:</p>
      </td>
      <td>
        <address>
          Електронна пошта: <a href="mailto:example@example.com">example@example.com</a>     Телефон: +38-(000)-000-00-00
        </address>
      </td>
      <td>
        <p>Copyright © 2023 LinguaSphere</p>
      </td>
    </tr>
  </table>
</footer>

<script src="/script/aboutUs.js"></script>

</body>
</html>
